{% extends "layout.html" %}

{% set pageId = "page-home" %}

<title>Ecoleta</title>

{% block styles %}
    <link href="/css/home.css" rel="stylesheet">
    <link href="/css/modal.css" rel="stylesheet">
{% endblock styles %}

{% block container %}
    <div class="container">
        <header>
            <img src="/assets/logo.svg" alt="logomarca">
            <a href="/create-point"> <span></span> Cadastre um ponto de coleta </a>
        </header>

        <main>
            <h1> Seu marketplace de coleta de resíduos</h1>

            <p> Ajudamos pessoas a encontrarem pontos de coleta de  forma eficiente.</p>
            
            <a href="#"><span></span><strong>Pontos de coleta</strong></a>
        </main>
    </div>
{% endblock container %} 

{% block modal %}
    {% include "includes/modal.html" %}
{% endblock modal %}

{% block js %}
    <script src="/js/index.js"></script>
{% endblock js %}