<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}
        <title>Ecoleta</title>
    {% endblock title %}
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    {% block styles %}
    {% endblock styles %}
    <link href="/css/responsive.css" rel="stylesheet">
</head>
<body>
    <div id="{{ pageId }}">
        {% block container %}
        {% endblock container %}
    </div>

    {% block modal %}
    {% endblock modal %}

    {% block js %}
    {% endblock js %}
</body>
</html>